CLIENT_ID=seu-client-id-da-pluggy
CLIENT_SECRET=seu-client-secret-da-pluggy
API_KEY=seu-api-key-da-pluggy
TECNOSPEED_OPENFINANCE_BASE_URL=https://staging.pagamentobancario.com.br
TECNOSPEED_CNPJSH=
TECNOSPEED_TOKENSH=
